h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
body{
    line-height: 1.6;
    font-weight: 300;
}
.homepage-hero-area-4{
	background-image: url(../img/Homepage_4.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	position: relative;
	z-index: 1;
}
.homepage-hero-area-4:after{
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
	opacity: .25;
	background: #073b4c;
	z-index: -1;
	left: 0;
	top: 0;
}

html, body, .homepage-hero-area-4, .single-slide-item {
    height: 100%;
}
.single-slide-item {
    display: table;
    width: 100%;
}
.single-slide-wraper {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: #fff;
    font-weight: 300;
}

.single-slide-wraper h2 {
    color: #fff;
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
}
.website-chack-form input {
    background: #073b4c none repeat scroll 0 0;
    border: medium none #073b4c;
}
.website-chack-form{
	margin-top: 30px;
}
.boxed-btn, input[type="submit"], button[type="submit"]{
    background: #06d6a0;
}
.boxed-btn, input[type="submit"], button[type="submit"]{
    background: #06d6a0;
}


.offcanvas-munushade {
    background: #073b4c none repeat scroll 0 0;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.offcanvas-munushade.active{
	opacity: .7;
	visibility: visible;
}

.offcanvace-menu {
    background: #fff none repeat scroll 0 0;
	color: #373737;
	height: 100%;
	left: -300px;
	opacity: 0;
	padding-top: 35px;
	position: fixed;
	top: 0;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 300px;
	z-index: 999;
}

.offcanvace-menu.show-offcanvace-menu {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.offcanvace-menu ul {
    list-style: outside none none;
    margin: 0;
    line-height: 2.3;
}
.menu-close {
    cursor: pointer;
    padding: 16px;
    position: absolute;
    right: 0;
}
.menu-close i.fa {
    padding-right: 5px;
}

.menu-logo > img {
    padding: 0 50px;
}
.offcanvace-menu ul li a{
    color: #373737;
    transition: .3s;
}
.offcanvace-menu ul li:hover a{
    color: #06D6A0;
}

.off-canvace-menu-top {
    padding-bottom: 70px;
}
.off-canvace-menu-footer {
    padding-left: 35px;
    padding-top: 150px;
}
.off-canvace-menu-footer ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.off-canvace-menu-footer ul li {
    display: inline-block;
    padding-right: 25px;
}

.off-canvace-menu-footer li a .zmdi {
    padding-right: 6px;
}

.menu-triger, .search-menu-triger {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 20px;
    display: inline-block;
}

.tile-galerry {
    position: relative;
    padding-right: 20px;
}
.tile-galerry.text-right > img {
    box-shadow: 0 8px 12px #ddd;
    border-radius: 3px;
}
.absoluate-tile-img {
    left: 0;
    position: absolute;
    top: 80px;
}

.inline-btn {
    color: #06d6a0;
    display: inline-block;
    padding-top: 15px;
}
.service-box-2 {
    margin-bottom: 50px;
    min-height: 200px;
}

.service-icon-table {
    color: #06d6a0;
    display: table;
    font-size: 30px;
    height: 100%;
    margin-bottom: 15px;
    width: 100%;
}
.service-icon-tablecell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.service-section{
    position: relative;
    z-index: 1;
    padding-bottom: 40px;
    padding-top: 90px;
    margin-top: 110px;
    margin-bottom: 80px;
}
.service-section::after{
    background: #fdfdfd;
    position: absolute;
    left: 0;top: 0;
    width: 55%;
    height: 100%;
    z-index: -1;
    content: "";
    box-shadow: 0 5px 10px #f4f4f4;
}
.service-section::before{
    background-image: url(../img/service4.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    width: 50%;
    height: 100%;
    content: "";
    position: absolute;
    right: 0;top: -60px;
    box-shadow: 0 10px 10px #f4f4f4;
    border-radius: 3px;
}
.cta-area.theme-4{background-image: url(../img/cta-bg-4.jpg);}
.cta-area.theme-5{background-image: url(../img/cta-bg-5.jpg);}

.cta-area.theme-4, .cta-area.theme-5 {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.cta-area.theme-4::after, .cta-area.theme-5::after {
    background: #073b4c none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.cta-area.theme-4, .cta-area.theme-4 h2 {
    color: #fff;
}
.cta-area.theme-4 h2 {
    margin-bottom: 20px;
}
.cta-area.theme-4 a {
    background: #06D6A0 none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    font-size: 35px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    padding-left: 2px;
    width: 50px;
}


.shadow-image {
    box-shadow: 0 0 15px #f5f5f5;
}
.single-featured-item {
    margin-top: 50px;
    padding-left: 55px;
    position: relative;
}
.padding-30 {
    padding-top: 30px;
}
.featured-icon {
    color: #06d6a0;
    font-size: 40px;
    left: 0;
    line-height: 40px;
    position: absolute;
    top: 0;
}

.active .testimonial-text {
    background: #06d6a0 none repeat scroll 0 0;
    color: #fff;
}
.testimonial-text {
    padding: 25px;
    position: relative;
    z-index: 1;
    transition: .3s;
}
.testimonial-text p:last-child {
    margin-bottom: 0;
}
.testimonial-text i.fa {
    font-size: 120%;
    margin-bottom: 20px;
}
.testimonial-text::after {
    background: #06d6a0 none repeat scroll 0 0;
    bottom: -12.5px;
    content: "";
    height: 25px;
    left: 36px;
    position: absolute;
    transform: rotate(45deg);
    width: 25px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.testimonial-bottom {
    margin-left: 18px;
    margin-top: 35px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.active .testimonial-text::after,
.active .testimonial-bottom {
    opacity: 1;
    visibility: visible;
}
.testimonial-bottom p {
    color: #999;
    display: inline-block;
}
.testimonial-bottom p strong {
    color: #333;
}
.testimonial-bottom > img {
    border-radius: 50%;
    height: 60px;
    margin-right: 10px;
    margin-top: -25px;
    max-width: 60px;
    width: 60px;
}

.cta-area.theme-5, .cta-area.theme-5 h2 {
    color: #fff;
}
.cta-area.theme-5 h2 {
    margin-bottom: 15px;
}
.cta-area.theme-5 .boxed-btn {
    margin-top: 30px;
}

.cta-area.theme-5, .cta-area.theme-5 h2 {
    color: #fff;
}
.cta-area.theme-5 h2 {
    margin-bottom: 15px;
}
.cta-area.theme-5 .boxed-btn {
    margin-top: 30px;
}
.footer-area.theme-4 {
    background-color: #073b4c;
}
.footer-area.theme-4, .footer-area.theme-4 h4, .footer-area.theme-4 a {
    color: #fff;
}

.theme-4 .email-subscrib-form input[type="email"] {
    color: #333;
    margin-top: 40px;
}

.copyright-area.theme-4 {
    background-color: #0f2e38;
    color: #fff;
}


