/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
min-height: 100%;
}

a:hover { text-decoration: none }

html, body{height: 100%;} 

.section-bg{background-image: url(../img/slide.jpg);}
.section-bg-1{background-image: url(../img/slide2.jpg);}
.section-padding{
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 100px 0;
    position: relative;

}

.prize-boxes {
    box-shadow: 0 0 60px #999;
    overflow: hidden;
}
.single-prizr-box {
    float: left;
    width: 33.3333%;
    position: relative;

}
.single-prizr-box:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background: #ddd;
    right: 0;
    top: 0;
    opacity: .5;
}
.single-prizr-box:last-child:after {
    display: none;
}
.prize-box-image img {
    max-height: 165px;
    max-width: 180px;
}
.prize-box-image {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.prize-box-wraper {
    display: table;
    height: 175px;
    width: 100%;
}
.prize-box-inner {
    background: #fff none repeat scroll 0 0;
    padding: 30px;
    text-align: center;
}
.prize-box-inner h2 {
    color: #00A8FF;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.prize-box-inner h2::after {
    background: #333 none repeat scroll 0 0;
    bottom: -7px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 30px;
}
.prize-content span {
    color: #d25529;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    position: relative;
}
.prize-content span::after {
    content: "/mo";
    font-size: 20px;
    font-weight: 400;
    margin-left: 7px;
}
.prize-content span::before {
    content: "$";
    font-size: 20px;
    left: -12px;
    position: absolute;
    top: 0;
}
.prize-boxes ul {
    line-height: 1.9;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 30px;
    font-size: 15px;
}
.prize-boxes ul li{transition: .3S;}
.prize-boxes ul li:hover{padding-left: 5px}
.prize-boxes ul li:before{
    font-family: fontAwesome;
    content:"\f00c";
    color: blue;
    padding-right: 10px;
}
.prize-content {
    padding-left: 12px;
}
.boxed-btn {
    background: #00A8FF none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.boxed-btn.active{
    background: #d25529;
}
.boxed-btn:hover, .boxed-btn.active:hover {
    background: #333 none repeat scroll 0 0;
    color: #fff;
}
